<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hannesdorfmann.mosby.sample.mail" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MailApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".details.DetailsActivity"
            android:label=""/>

        <activity android:name=".write.WriteActivity"
            android:theme="@style/WriteTheme"
            android:label=""
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".search.SearchActivity"
            android:label=""
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".profile.ProfileActivity"
            />

        <service android:name=".model.mail.service.SendMailService"
            android:exported="false" />

        <service android:name=".model.mail.service.GcmFakeIntentService"
            android:exported="false" />

        <receiver android:name=".model.mail.receiver.MailReceiver">
            <intent-filter>
                <action android:name="com.hannesdorfmann.mosby.sample.mail.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
