<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hannesdorfmann.mosby3.sample.mvi">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".SampleApplication"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:label="@string/title_activity_main_activiy"
        android:name=".MainActivity"
        android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="@string/title_activity_product_detail"
        android:name=".view.detail.ProductDetailsActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.hannesdorfmann.mosby3.sample.mvi.MainActivity"/>
    </activity>
  </application>

</manifest>