<footer class="center">
  <div class="measure">
    <small>

      <a href="https://github.com/sockeqwe/mosby">Fork me on Github </a> |
      <a href="https://github.com/sockeqwe/mosby/releases">Changelog</a> |
      <a href="https://github.com/sockeqwe/mosby/issues">Issues</a>

      <br /><br />
      Copyright {{ site.time | date: '%Y' }} <a href="http://hannesdorfmann.com" target="_blank">Hannes Dorfmann</a>
      <br />
      Theme crafted with &lt;3 by <a href="http://johnotander.com">John Otander</a>
    </small>
  </div>
</footer>
