---
layout: default
---
<div class="post">
  <article class="post-content">
  {{ content }}
  </article>
</div>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
<br /> <br /> <br />
<div align="center">
<small>To report bugs, issues or start conceptional design discussions please use the <a href="https://github.com/sockeqwe/mosby/issues">issue tracker on GitHub</a>. Otherwise, don't hesitate to ask any other question in the section below. Syntax highlighting is <a href="https://help.disqus.com/customer/portal/articles/665057-syntax-highlighting" target="_blank">supported</a>. </small>
</div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = '{{ post.title }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
